/*
样式说明文档 如需修改复制 ctrl+c ctrl+f 即可定位
更新日期             2019-10-14
Author              邪七

--------------------beg
---
---
---
$global_background                          全局背景色
$tab_height                                 tab高度
---
---
---
--------------------end
*/

$main_background:#ddd;
$main_color: #303030;

//全局背景色
$global_background:#2e3a52;
// tab高度
$tab_height:22px;